<div class="w-full">
    <div class="min-h-screen rounded-md m-10" style="background-color: #f7f5ff">
        <style>
            ul {
              list-style-type: none;
              padding: 0;
            }
          
            li {
              display: flex;
              justify-content: space-between;
              padding: 10px;
              border-bottom: 1px solid #ccc;
            }
          
            li:last-child {
              border-bottom: none;
            }
          </style>

        <body>
          <ul>
            <li>
              <b>Name</b>
              <b>Date of Birth</b>
              <b>Nationality</b>
              <b>Religion</b>
              <b>Weight</b>
              <b>Physical Standard Height</b>
              <b>Chest</b>
            </li>
            <li *ngFor="let person of personModelList">
                <span>{{ person.name }}</span>
                <span>{{ person.dob }}</span>
                <span>{{ person.nationality }}</span>
                <span>{{ person.religion }}</span>
                <span>{{ person.weight }}</span>
                <span>{{ person.height }}</span>
                <span>{{ person.chest }}</span>
              </li>
          </ul>
        </body>
    </div>
</div>



