input[type="text"] {
  /* Box model */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* Typography */
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  width: 100;

  /* Spacing */
  margin-bottom: 10px;

  /* Other properties */
  background-color: rgb(255, 255, 255);
  outline: none;
}

.required-field::after {
  content: "*";
  color: red;
}

.legend {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: 1px solid rgb(18, 16, 16);
  border-radius: 5px;
  font-weight: bold;
}

.fieldset {
  border: 2px solid rgb(2, 2, 2);
  padding: 10px;
  padding-bottom: 15px;
  padding-top: 5px;
  border-radius: 5px;
}

.my-dropdown {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.left-button {
  float: right;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: dashed;
  display: inline-block;
  font-size: 16px;
  margin: 0;
  cursor: pointer;
  border-radius: 50px;
}

.input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}