<div class="w-full">
  <div class="min-h-screen rounded-md m-10" style="background-color: #f7f5ff">
    <form>
      <div class="m-8">
        <b class="flex justify-center items-center">Section A</b>
        <div>
          <div class="w-full flex">
            <h3>Full Name</h3>
            <div class="text-red-400">*</div>
          </div>
          <div>
            <input placeholder="Full Name" class="w-full rounded-sm input"  name="name"
            [(ngModel)]="personModel.name"/>
          </div>
        </div>

        <div>
          <div class="w-full flex mt-3">
            <h3>Name Native</h3>
            <div class="text-red-400">*</div>
          </div>
          <div>
            <input placeholder="Name Native" class="w-full rounded-sm input"  name="nameNative"
            [(ngModel)]="personModel.nameNative"/>
          </div>
        </div>

        <div class="mt-3">
          <div class="w-full flex">
            <h3>Present Address</h3>
            <div class="text-red-400">*</div>
          </div>
          <div class="flex justify-between items-center space-x-4">
            <input placeholder="Division" class="w-full rounded-sm input"  name="presentState"
            [(ngModel)]="personModel.address.presentState"/>
            <input placeholder="District" class="w-full rounded-sm input"  name="presentDistrict"
            [(ngModel)]="personModel.address.presentDistrict"/>
            <input placeholder="Union" class="w-full rounded-sm input"  name="presentUnion"
            [(ngModel)]="personModel.address.presentUnion"/>
            <input placeholder="Post Code" class="w-full rounded-sm input"  name="presentPostalCode"
            [(ngModel)]="personModel.address.presentPostalCode"/>
            <input
              placeholder="Holding Number"
              class="w-full rounded-sm input"
              name="presentStreet"
              [(ngModel)]="personModel.address.presentStreet"
            />
          </div>
        </div>
        <div class="mt-3">
          <div class="w-full flex">
            <h3>Permanent Address</h3>
            <div class="text-red-400">*</div>
          </div>
          <div class="flex justify-between items-center space-x-4">
            <input placeholder="Division" class="w-full rounded-sm input"  name="permanentState"
            [(ngModel)]="personModel.address.permanentState"/>
            <input placeholder="District" class="w-full rounded-sm input"  name="permanentDistrict"
            [(ngModel)]="personModel.address.permanentDistrict"/>
            <input placeholder="Union" class="w-full rounded-sm input"  name="permanentUnion"
            [(ngModel)]="personModel.address.permanentUnion"/>
            <input placeholder="Post Code" class="w-full rounded-sm input"  name="permanentPostalCode"
            [(ngModel)]="personModel.address.permanentPostalCode"/>
            <input
              placeholder="Holding Number"
              class="w-full rounded-sm input"
              name="permanentStreet"
              [(ngModel)]="personModel.address.permanentStreet"
            />
          </div>
        </div>
        <div class="mt-3">
          <div class="w-full flex">
            <h3>Date of Birth</h3>
            <div class="text-red-400">*</div>
          </div>
          <div class="flex justify-between items-center space-x-4">
            <input
              placeholder="Date of Birth"
              class="w-full rounded-sm input"
              type="date"
              name="dob"
              [(ngModel)]="personModel.dob"
              (change)="calculateAge()"
            />
            <input
              placeholder="Age"
              class="w-full rounded-sm input"
              [(ngModel)]="personModel.age"
              name="age"
            />
          </div>
        </div>
        <div>
          <div class="w-full flex mt-3">
            <h3>Place of Birth</h3>
            <div class="text-red-400">*</div>
          </div>
          <div>
            <input
              placeholder="Place of Birth"
              class="w-full rounded-sm input"
              [(ngModel)]="personModel.birthPlace"
              name="birthPlace"
            />
          </div>
        </div>

        <div class="w-full justify-between items-center space-x-4">
          <div class="flex justify-between itmes-center space-x-3">
            <fieldset class="fieldset w-full mt-3">
              <legend class="legend">HSC</legend>
              <div class="flex space-x-4">
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>Boards</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <select id="hscSubject" class="w-full rounded-sm input" 
                  [(ngModel)]="personModel.personEdu.hscSubject"
                  name="hscSubject">
                    <option value="Dhaka">Dhaka</option>
                    <option value="Chittagong">Chittagong</option>
                  </select>
                </div>
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>Subject</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <select id="my-dropdown" class="w-full rounded-sm input"  [(ngModel)]="personModel.personEdu.hscBoardOrUniversityId"
                  name="hscBoardOrUniversityId">
                    <option value="Science">Science</option>
                    <option value="Business">Business</option>
                  </select>
                </div>
              </div>
              <div class="w-full">
                <div class="w-full flex">
                  <h3>Institude</h3>
                  <div class="text-red-400">*</div>
                </div>
                <input
                  placeholder="Institude"
                  class="w-full rounded-sm input"
                  [(ngModel)]="personModel.personEdu.hscNameOfInstitute"
                  name="hscNameOfInstitute"
                />
              </div>
              <div class="flex space-x-4 mt-3">
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>Year</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <select id="hscPassingYear" class="w-full rounded-sm input" 
                  [(ngModel)]="personModel.personEdu.hscPassingYear"
                  name="hscPassingYear">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                  </select>
                </div>
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>GPA</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <input
                    placeholder="GPA"
                    class="w-full rounded-sm input"
                    type="number"
                    [(ngModel)]="personModel.personEdu.hscResult"
                    name="hscResult"
                    autocomplete="off"
                  />
                </div>
              </div>
            </fieldset>

            <fieldset class="fieldset w-full mt-3">
              <legend class="legend">SSC</legend>
              <div class="flex space-x-4">
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>Boards</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <select id="sscBoardOrUniversityId" class="w-full rounded-sm input" 
                  [(ngModel)]="personModel.personEdu.sscBoardOrUniversityId" autocomplete="off"
                  name="sscBoardOrUniversityId">
                    <option value="Dhaka">Dhaka</option>
                    <option value="Chittagong">Chittagong</option>
                  </select>
                </div>
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>Subject</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <select id="sscSubject" class="w-full rounded-sm input"  [(ngModel)]="personModel.personEdu.sscSubject" autocomplete="off"
                  name="sscSubject">
                    <option value="Science">Science</option>
                    <option value="Business">Business</option>
                  </select>
                </div>
              </div>
              <div class="w-full">
                <div class="w-full flex">
                  <h3>Institude</h3>
                  <div class="text-red-400">*</div>
                </div>
                <input
                  placeholder="Institude"
                  class="w-full rounded-sm input"
                  [(ngModel)]="personModel.personEdu.sscNameOfInstitute"
                  name="sscNameOfInstitute"
                  autocomplete="off"
                />
              </div>
              <div class="flex space-x-4 mt-3">
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>Year</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <select id="sscPassingYear" class="w-full rounded-sm input" 
                  [(ngModel)]="personModel.personEdu.sscPassingYear" autocomplete="off"
                  name="sscPassingYear">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                  </select>
                </div>
                <div class="w-full">
                  <div class="w-full flex">
                    <h3>GPA</h3>
                    <div class="text-red-400">*</div>
                  </div>
                  <input
                    placeholder="GPA"
                    class="w-full rounded-sm input"
                    type="number"
                    [(ngModel)]="personModel.personEdu.sscResult"
                    name="sscResult"
                    autocomplete="off"
                  />
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div>
          <div class="w-full flex mt-4">
            <h3>Visible Identification Mark on Body</h3>
            <div class="text-red-400">*</div>
          </div>
          <div>
            <input
              placeholder="Visible Identification Mark on Body"
              class="w-full rounded-sm input"
              [(ngModel)]="personModel.identification"
              name="identification"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="mt-3">
          <div class="flex justify-between items-center space-x-4">
            <div class="w-full">
              <div class="w-full flex">
                <h3>Religion</h3>
                <div class="text-red-400">*</div>
              </div>
              <select id="religion" class="w-full rounded-sm input"
              [(ngModel)]="personModel.religion" autocomplete="off"
              name="religion">
                <option value="Islam">Islam</option>
                <option value="Hindu">Hindu</option>
              </select>
            </div>
            <div class="w-full">
              <div class="w-full flex">
                <h3>Nationality</h3>
                <div class="text-red-400">*</div>
              </div>
              <select id="nationality" class="w-full rounded-sm input"
              [(ngModel)]="personModel.nationality" autocomplete="off"
              name="nationality">
                <option value="Bangladeshi">Bangladeshi</option>
              </select>
            </div>
            <div class="w-full">
              <div class="w-full flex">
                <h3>Means of Nationality</h3>
                <div class="text-red-400">*</div>
              </div>
              <select id="my-dropdown" class="w-full rounded-sm input"
              [(ngModel)]="personModel.meansNationality" autocomplete="off"
              name="meansNationality">
                <option value="By Birth">By Birth</option>
              </select>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div class="flex justify-between items-center space-x-4">
            <div class="w-full">
              <div class="w-full flex">
                <h3>Physical Standard Height</h3>
                <div class="text-red-400">*</div>
              </div>
              <input
                placeholder="Physical Standard Height"
                class="w-full rounded-sm input"
                [(ngModel)]="personModel.height"
                name="height"
                autocomplete="off"
              />
            </div>
            <div class="w-full">
              <div class="w-full flex">
                <h3>Weight</h3>
                <div class="text-red-400">*</div>
              </div>
              <input placeholder="Weight" class="w-full rounded-sm input" 
              [(ngModel)]="personModel.weight" autocomplete="off"
              name="weight"/>
            </div>
            <div class="w-full">
              <div class="w-full flex">
                <h3>Chest</h3>
                <div class="text-red-400">*</div>
              </div>
              <input placeholder="Chest" class="w-full rounded-sm input" 
              [(ngModel)]="personModel.chest" autocomplete="off"
              name="chest"/>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <div class="flex justify-between items-center space-x-4">
            <div class="w-full">
              <div class="w-full flex">
                <h3>Eye Standard Height</h3>
                <div class="text-red-400">*</div>
              </div>
              <input
                placeholder="Eye Standard Height"
                class="w-full rounded-sm input"
                [(ngModel)]="personModel.rightEye"
                name="rightEye"
                autocomplete="off"
              />
            </div>
            <div class="w-full">
              <div class="w-full flex">
                <h3>Left Eye</h3>
                <div class="text-red-400">*</div>
              </div>
              <input placeholder="Left Eye" class="w-full rounded-sm input" 
              [(ngModel)]="personModel.leftEye" autocomplete="off"
              name="leftEye"/>
            </div>
            <div class="w-full">
              <div class="w-full flex">
                <h3>Color Blindness</h3>
                <div class="text-red-400">*</div>
              </div>
              <input
                placeholder="Color Blindness"
                class="w-full rounded-sm input"
                [(ngModel)]="personModel.colourBlindNess"
                name="colourBlindNess"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
        <div>
          <div class="w-full flex mt-3">
            <h3>Acgievement in The Field of Extra-curricular activities</h3>
            <div class="text-red-400">*</div>
          </div>
          <div>
            <input
              placeholder="Acgievement in The Field of Extra-curricular activities"
              class="w-full rounded-sm input"
              [(ngModel)]="personModel.extraCurricular"
              name="extraCurricular"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="mt-3">
          <div class="flex justify-between items-center space-x-4">
            <div class="w-full">
              <div class="w-full flex">
                <h3>First Branch Preferences</h3>
                <div class="text-red-400">*</div>
              </div>
              <select id="firstPreference" class="w-full rounded-sm input"
              [(ngModel)]="personModel.firstPreference"
              name="firstPreference">
                <option value="Bangladesh Marine Academy, Barisal">
                  Bangladesh Marine Academy, Barisal
                </option>
              </select>
            </div>
            <div class="w-full">
              <div class="w-full flex">
                <h3>Second Branch Preferences</h3>
                <div class="text-red-400">*</div>
              </div>
              <select id="secondPreference" class="w-full rounded-sm input"
              [(ngModel)]="personModel.secondPreference"
              name="secondPreference">
                <option value="Bangladesh Marine Academy, Chattogram">
                  Bangladesh Marine Academy, Chattogram
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <button class="left-button" (click)="save()">Save & Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
