<div class="w-full">
  <div class="min-h-screen rounded-md m-10" style="background-color: #f7f5ff">
    <div class="m-8">
      <b class="flex justify-center items-center">Section B</b>
      <div>
        <div class="w-full flex mt-3">
          <h3>Father Name</h3>
          <div class="text-red-400">*</div>
        </div>
        <div>
          <input
            placeholder="Full Name"
            class="w-full rounded-sm input"
            name="fatherName"
            [(ngModel)]="personModel.fatherName"
          />
        </div>
      </div>

      <div class="mt-3">
        <div class="w-full flex">
          <h3>Present Address</h3>
          <div class="text-red-400">*</div>
        </div>
        <div class="flex justify-between items-center space-x-4">
          <input placeholder="Division" class="w-full rounded-sm input" />
          <input placeholder="District" class="w-full rounded-sm input" />
          <input placeholder="Union" class="w-full rounded-sm input" />
          <input placeholder="Post Code" class="w-full rounded-sm input" />
          <input placeholder="Holding Number" class="w-full rounded-sm input" />
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Permanent Address</h3>
          <div class="text-red-400">*</div>
        </div>
        <div class="flex justify-between items-center space-x-4">
          <input placeholder="Division" class="w-full rounded-sm input" />
          <input placeholder="District" class="w-full rounded-sm input" />
          <input placeholder="Union" class="w-full rounded-sm input" />
          <input placeholder="Post Code" class="w-full rounded-sm input" />
          <input placeholder="Holding Number" class="w-full rounded-sm input" />
        </div>
      </div>
      <div class="mt-3">
        <div class="flex justify-between items-center space-x-4">
          <div class="w-full">
            <div class="w-full flex">
              <h3>Father Occupation</h3>
              <div class="text-red-400">*</div>
            </div>
            <input
              placeholder="Father Occupation"
              class="w-full rounded-sm input"
              name="fatherOccupation"
              [(ngModel)]="personModel.fatherOccupation"
            />
          </div>
          <div class="w-full">
            <div class="w-full flex">
              <h3>Father Nationality</h3>
              <div class="text-red-400">*</div>
            </div>
            <select
              id="fatherNationality"
              class="w-full rounded-sm input"
              name="fatherNationality"
              [(ngModel)]="personModel.fatherNationality"
            >
              <option value="fatherNationality">Bangladeshi</option>
            </select>
          </div>
          <div class="w-full">
            <div class="w-full flex">
              <h3>Present or Previous Occupation</h3>
              <div class="text-red-400">*</div>
            </div>
            <input
              placeholder="Father Present or Previous Occupation"
              class="w-full rounded-sm input"
              name="fatherPreviousOccupation"
              [(ngModel)]="personModel.fatherPreviousOccupation"
            />
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Present Gross Annual Income of Father Through All Source</h3>
          <div class="text-red-400">*</div>
        </div>
        <div>
          <input
            placeholder="Present Gross Annual Income of Father Through All Source"
            class="w-full rounded-sm input"
            name="fatherIncome"
            [(ngModel)]="personModel.fatherIncome"
          />
        </div>
      </div>

      <div>
        <div class="w-full flex mt-3">
          <h3>Mother Name</h3>
          <div class="text-red-400">*</div>
        </div>
        <div>
          <input
            placeholder="Mother Name"
            class="w-full rounded-sm input"
            name="motherName"
            [(ngModel)]="personModel.motherName"
          />
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Present Address</h3>
          <div class="text-red-400">*</div>
        </div>
        <div class="flex justify-between items-center space-x-4">
          <input placeholder="Division" class="w-full rounded-sm input" />
          <input placeholder="District" class="w-full rounded-sm input" />
          <input placeholder="Union" class="w-full rounded-sm input" />
          <input placeholder="Post Code" class="w-full rounded-sm input" />
          <input placeholder="Holding Number" class="w-full rounded-sm input" />
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Permanent Address</h3>
          <div class="text-red-400">*</div>
        </div>
        <div class="flex justify-between items-center space-x-4">
          <input placeholder="Division" class="w-full rounded-sm input" />
          <input placeholder="District" class="w-full rounded-sm input" />
          <input placeholder="Union" class="w-full rounded-sm input" />
          <input placeholder="Post Code" class="w-full rounded-sm input" />
          <input placeholder="Holding Number" class="w-full rounded-sm input" />
        </div>
      </div>
      <div class="mt-3">
        <div class="flex justify-between items-center space-x-4">
          <div class="w-full">
            <div class="w-full flex">
              <h3>Mother Occupation</h3>
              <div class="text-red-400">*</div>
            </div>
            <input
              placeholder="Father Occupation"
              class="w-full rounded-sm input"
              name="motherOccupation"
              [(ngModel)]="personModel.motherOccupation"
            />
          </div>
          <div class="w-full">
            <div class="w-full flex">
              <h3>Mother Nationality</h3>
              <div class="text-red-400">*</div>
            </div>
            <select
              id="motherNationality"
              class="w-full rounded-sm input"
              name="motherNationality"
              [(ngModel)]="personModel.motherNationality"
            >
              <option value="motherNationality">Bangladeshi</option>
            </select>
          </div>
          <div class="w-full">
            <div class="w-full flex">
              <h3>Present or Previous Occupation</h3>
              <div class="text-red-400">*</div>
            </div>
            <input
              placeholder="Father Present or Previous Occupation"
              class="w-full rounded-sm input"
              name="motherPreviousOccupation"
              [(ngModel)]="personModel.motherPreviousOccupation"
            />
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Present Gross Annual Income of Mother Through All Source</h3>
          <div class="text-red-400">*</div>
        </div>
        <div>
          <input
            placeholder="Present Gross Annual Income of Father Through All Source"
            class="w-full rounded-sm input"
            name="motherIncome"
            [(ngModel)]="personModel.motherIncome"
          />
        </div>
      </div>

      <div>
        <div class="w-full flex mt-3">
          <h3>Guardian Name</h3>
          <div class="text-red-400">*</div>
        </div>
        <div>
          <input
            placeholder="Guardian Name"
            class="w-full rounded-sm input"
            name="localName"
            [(ngModel)]="personModel.localName"
          />
        </div>
      </div>
      <div>
        <div class="w-full flex mt-3">
          <h3>Relationship with the Student</h3>
          <div class="text-red-400">*</div>
        </div>
        <div>
          <input
            placeholder="Relationship with the Student"
            class="w-full rounded-sm input"
            name="relationWithLocal"
            [(ngModel)]="personModel.relationWithLocal"
          />
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Present Address</h3>
          <div class="text-red-400">*</div>
        </div>
        <div class="flex justify-between items-center space-x-4">
          <input placeholder="Division" class="w-full rounded-sm input" />
          <input placeholder="District" class="w-full rounded-sm input" />
          <input placeholder="Union" class="w-full rounded-sm input" />
          <input placeholder="Post Code" class="w-full rounded-sm input" />
          <input placeholder="Holding Number" class="w-full rounded-sm input" />
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Permanent Address</h3>
          <div class="text-red-400">*</div>
        </div>
        <div class="flex justify-between items-center space-x-4">
          <input placeholder="Division" class="w-full rounded-sm input" />
          <input placeholder="District" class="w-full rounded-sm input" />
          <input placeholder="Union" class="w-full rounded-sm input" />
          <input placeholder="Post Code" class="w-full rounded-sm input" />
          <input placeholder="Holding Number" class="w-full rounded-sm input" />
        </div>
      </div>
      <div class="mt-3">
        <div class="flex justify-between items-center space-x-4">
          <div class="w-full">
            <div class="w-full flex">
              <h3>Occupation</h3>
              <div class="text-red-400">*</div>
            </div>
            <input
              placeholder="Father Occupation"
              class="w-full rounded-sm input"
              name="localOccupation"
              [(ngModel)]="personModel.localOccupation"
            />
          </div>
          <div class="w-full">
            <div class="w-full flex">
              <h3>Nationality</h3>
              <div class="text-red-400">*</div>
            </div>
            <select
              id="localNationality"
              class="w-full rounded-sm input"
              name="localNationality"
              [(ngModel)]="personModel.localNationality"
            >
              <option value="localNationality">Bangladeshi</option>
            </select>
          </div>
          <div class="w-full">
            <div class="w-full flex">
              <h3>Present or Previous Occupation</h3>
              <div class="text-red-400">*</div>
            </div>
            <input
              placeholder="Father Present or Previous Occupation"
              class="w-full rounded-sm input"
              name="localPreviousOccupation"
              [(ngModel)]="personModel.localPreviousOccupation"
            />
          </div>
        </div>
      </div>
      <div class="mt-3">
        <div class="w-full flex">
          <h3>Present Gross Annual Income of Guardian Through All Source</h3>
          <div class="text-red-400">*</div>
        </div>
        <div>
          <input
            placeholder="Present Gross Annual Income of Father Through All Source"
            class="w-full rounded-sm input"
            name="localIncome"
            [(ngModel)]="personModel.localIncome"
          />
        </div>
      </div>
      <div class="mt-3">
        <a href="http://localhost:4200/">
          <button class="back-button">Back</button>
        </a>
      </div>
      <div class="mt-3">
        <button class="left-button" (click)="update()">Save</button>
      </div>
    </div>
  </div>
</div>
